
__pycache__/
*.py[cod]
*$py.class

*.egg
*.egg-info

dist/
build/
develop-eggs/
eggs/
sdist/
wheelhouse/
*.tar.gz
*.zip
*.whl

venv/
env/
ENV/
VENV/
.venv/
.env/


data/lancedb/


data/agent.log

knowledge_base_documents/

excel_files_to_process/

.env
*.env
.env.*
!*.env.example # Permite um .env.example para mostrar a estrutura

.vscode/
.idea/
*.project
*.sublime-project
*.sublime-workspace
nbproject/

.DS_Store
Thumbs.db
Desktop.ini

.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.prof
*.lprof
*.cprof

.ipynb_checkpoints
